.sidebar {
    background-color: rgb(2, 2, 32);
    text-align: center;
    align-items: center;
    min-height: 100vh;
}

.logohome {
    background-color: white;
    border-radius: 1000px;
    height: 80px;
    width: 80px;
    margin-top: 20px;
}

.side {
    display: flex;
    justify-content: center;

}

.play {
    color: rgb(200, 200, 219);
    display: flex;
    justify-content: center;
}

.buttonslide {
    color: rgb(200, 200, 219);
    margin-top: 20px;
    height: 30px;
    width: 100%;
}

.icon {
    width: 50px;
    margin-top: 11px;
}


.row.play {
    font-size: 14px;
    width: 120%;
    background: none;
    border: none;
}

.link.active {
    color: orange;
}

.button-margin.active {
    border-left: 18px solid orange;
    border-right: 18px solid rgb(30, 30, 46);
}

.link{
    text-decoration: none;
}