.tieude {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.002em;
    text-align: left;
}

.thongtinchitietprofile {
    width: 1018px;
    height: 528px;
    top: 188px;
    left: 229px;
}

.profileimage {
    width: 273px;
    height: 280px;
    left: 2px;
    border-radius: 200px;
    background-color: white;

}
.form-control.profile{
    background-color: rgb(43, 43, 63);
    border: none;
    color: white;
    width: 100%;
}
.disabledprofile{
    background-color: rgb(62, 62, 80) !important;

}
.profileimage2{
    width: 30px;
    height: 30px;
    left: 380px;
    top: 360px;
    border-radius: 200px;
    background-color: rgba(0, 0, 0, 0.336);
    display: flex;
    position: absolute;
}