.app {
  background-color: rgb(30, 30, 46);
  min-height: 100vh;
  color: white;
}

.sidebar {
  width: 170px;
}

.main {
  margin-top: 5%;
  margin-left: 40px;
}

.displayflex {
  display: flex;
}

.search{
  background-color: rgb(43, 43, 63);
  width: 400px;
  border-radius: 10px;
}

.theloai{
  align-items: center;
    justify-content: left;
    display: flex;

}
.iconhome{
  justify-content: right;
}
.iconhomeicon{
  font-size: 32px;
  margin-left: 15px;
  color: rgb(255, 117, 6);
}
.dropdownhome{
  margin-left: 10px;
}
.dropdownbutton{
  background: none;
  border: 1px solid rgb(255, 117, 6);
  color: white;
}
.dropdownbutton:focus{
  background: none;
  border: 1px solid rgb(255, 117, 6);
  color: white;
}
.test1{
  margin-top: 15px;
}
.sanpham{
  background-color: rgb(43, 43, 63);
  width: 88%;
  border-radius: 10px;
  height: Fixed (1,541px);
  width: Fixed (722px);
  
}
.sanphamchitiet{
  width: Fixed (1,485px);
  min-height: 400px;
  padding: 16px, 24px, 16px, 24px;
  margin-top: 10px;
}
::placeholder { 
  color: white !important ;    /* Firefox, Chrome, Opera */
}