:root {
	--base-margin: 20px;
	--tab-height: 35px;
	--tab-border-radius: 35px;
}

body {
	background: rgba(var(--blue), 0.07);
	font-weight: 300;
	font-size: 16px;
	line-height: 1.66667;
}

.container {
	width: 75%;
	margin: 3rem auto;
}

h2 {
	color: var(--blue);
	font-size: 24px;
	line-height: 1.25;
	margin-top: var(--base-margin);
	margin-bottom: var(--base-margin);
}

.tab-slider--nav {
	width: 100%;
	float: left;
	margin-bottom: var(--base-margin);
}

.tab-slider--tabs {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	border-radius: var(--tab-border-radius);
	overflow: hidden;
	height: var(--tab-height);
	user-select: none;
	border: 1px solid #B65100;
}

.tab-slider--tabs:after {
	content: "";
	width: 50%;
	background: var(--blue);
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 250ms ease-in-out;
	border-radius: var(--tab-border-radius);
}

.tab-slider--tabs.slide:after {
	left: 50%;
}

.tab-slider--trigger {
	font-size: 14px;
	line-height: 0.8;
	font-weight: bold;
	text-align: center;
	padding: 11px var(--base-margin);
	position: relative;
	z-index: 2;
	cursor: pointer;
	display: inline-block;
	transition: color 250ms ease-in-out;
	user-select: none;
}

.tab-slider--trigger.active {
	color: #fff;
	background-color: #B65100;
	border-radius: 80px;
}

.tab-slider--body {
	margin-bottom: var(--base-margin);
}

.chudau1 {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: -0.002em;

}

.chucuoi1 {
	line-height: 24px;

}

.form-control {
	background-color: rgb(43, 43, 63);
	border: none;
	color: white;
	width: 100%;
}