.login {
    background-color: rgb(30, 30, 46);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.logo {
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 100px;
}

.form-control {
    background-color: rgb(43, 43, 63);
    border: none;
    color: white;
    width: 400px;
}

.form-control:focus {
    background-color: rgb(43, 43, 63);
    color: white;
}

.form-label {
    text-align: left;
    font-size: 14px;
    color: rgb(187, 187, 192);
}

.mb-3 {
    text-align: left;
    color: rgb(187, 187, 192);
    width: 100%;
    margin-top: 10px;
}

.form-check-input {
    background: none;
    border: 1px solid blue;
    width: 20px;
    height: 20px;
}

.form-check-label {
    font-size: 14px;
    margin-top: 5px;
    margin-left: 10px;
}

.button {
    background-color: rgb(255, 117, 6);
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    font-size: 15px;
}

.form-check {
    display: flex;
    align-items: center;
}

.bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 15px;

}

.quenmk {
    color: rgb(255, 117, 6);
}

.eye {
    border: none;
    background-color: rgb(43, 43, 63);
    border-radius: 10px;
    color: rgb(255, 117, 6);
    font-size: 15px;
}

.has-error {
    border: 2px solid red;
    border-radius: 10px;
}

.invalid-feedback {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

.loisaiten {
    text-align: left;
    font-size: 13px;
    color: red;
}

.displaynone {
    display: none;
}
.mainlogin{
    text-align: center;
}